name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  make:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.16

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Make
        run: make

      - name: Report Code Coverage
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./build/coverage/go-test.txt
          fail_ci_if_error: true

  release:
    needs: [make]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.16

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Run semantic-release
        run: make semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run goreleaser
        uses: goreleaser/goreleaser-action@v3.0.0
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
